

{{!-- <div class="container-single-event"> --}}
    <h1 class="h1-single">{{ data.title }}</h1>
    <div class="content-wrapper">
        <div class="event-details">
            <label class="label-single">Created by:</label>
            <p>{{ username }}</p>
            
            <label class="label-single">Date:</label>
            <p>{{ date }}</p>

            <label class="label-single">Location:</label>
            <p>{{ location }}</p>

            <label class="label-single">Links:</label>
             <a href="{{data.links}}" class="link" target="_blank">{{links}}</a>

            <label class="label-single">Notable Characters:</label>
            <p>{{ event.notableCharacters }}</p>
            <!-- Enlaces -->
                     <div class="link-container-single">
   
                         <a href="/places/{{ data.id }}/delete" class="link-single">Delete</a>
                         <a href="/places/{{ data.id }}/edit" class="link-single">Edit</a>
                         <a href="/places/list" class="link-single">Back</a>
                    </div> 
                                                            
        </div>

        <div class="event-media">
            <img src="{{ image }}" alt="imagen" class="event-image">


            


        </div>
    </div>
</div>
  --}}