<style>
   .link-container-single {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .link-single {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0b0a0a; 
    background-color: #fff; 
    border: 1px solid #0b0a0a; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; 
    margin-left: 10px;
  }

  .link-single:hover {
    background-color: #f1f6f7; 
    color: #0b0a0a; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
</style>


    <h1 class="h1-single">{{ placeFromDB.title }}</h1>
    <div class="content-wrapper">
        <div class="event-details">
            <label class="label-single">Created by:</label>
            <p>{{ placeFromDB.author }}</p>
            
            <label class="label-single">Rate:</label>
            <p>{{ placeFromDB.rating }}</p>

            <label class="label-single">Location:</label>
            <p>{{ placeFromDB.location }}</p>

            <label class="label-single">Description:</label>
            <p>{{ placeFromDB.description }}</p>

           
            
                    <div class="link-container-single">
                    <a href="/places/{{ placeFromDB._id }}/delete" class="link-single">Delete</a>
                    <a href="/places/{{ placeFromDB._id }}/edit" class="link-single">Edit</a>
                    <a href="/places/list" class="link-single">Back</a>
</div>                                                         
    </div>
        <div>
            <img src="{{ placeFromDB.image }}" alt="image" width="200" height="200">
        </div>
    </div>
</div>
 