

{{!-- <div class="container-single-event"> --}}
    <h1 class="h1-single">{{ placeFromDB.title }}</h1>
    <div class="content-wrapper">
        <div class="event-details">
            <label class="label-single">Created by:</label>
            <p>{{ placeFromDB.author }}</p>
            
            <label class="label-single">Rate:</label>
            <p>{{ placeFromDB.rating }}</p>

            <label class="label-single">Location:</label>
            <p>{{ placeFromDB.location }}</p>

            <label class="label-single">description:</label>
            <p>{{ placeFromDB.description }}</p>

           
            <!-- Enlaces -->
                     <div class="link-container-single">
                        <a href="/places/{{ placeFromDB._id }}/delete" class="link-single">Delete</a>
                        <a href="/places/{{ placeFromDB._id }}/edit" class="link-single">Edit</a>
                        <a href="/places/list" class="link-single">Back</a>
                    </div>
                                                            
        </div>

        <div>

            <img src="{{ placeFromDB.image }}" alt="image" width="200" height="200">  


        </div>
    </div>
</div>
 